<!-- link the css -->
<link rel="stylesheet" href="/css/footer.css">

<!-- UI for footer -->
<div class="card footer">
    <div class="card-body foot">
         <span>Copyright © 2023, All Right Reserved Vikas Yadav</span>
    </div>
  </div>