.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5e4f69d;
    opacity: 0.5;
}

.foot{
    flex-direction: row;
    color: black;
   text-align: end;
}